{% extends "base.html" %}
{% load static %}
{% block title %}Login · Easy Event{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrap">
  <div class="auth-grid">


    <div class="auth-ill">
      <img src="{% static 'img/log_in.svg' %}" alt="Login illustration">
    </div>

  
    <div class="auth-panel">
      <div class="auth-top">
        <span class="text-secondary">New user?</span>
        <a class="auth-link" href="{% url 'signup' %}">Sign up</a>
      </div>

      <h1 class="auth-title">Welcome Back!</h1>
      <p class="auth-sub">Login to continue</p>

      {% if form.errors %}
        <div class="alert alert-danger mt-3">
          Invalid username/password.
        </div>
      {% endif %}

      <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="auth-input">
          <span class="auth-icon">👤</span>
          <input type="text" name="username" placeholder="Username / Email" required autofocus>
        </div>

        <div class="auth-input">
          <span class="auth-icon">🔑</span>
          <input type="password" name="password" placeholder="Password" required>
        </div>

        <div class="auth-actions">
          <button class="auth-btn" type="submit">LOG IN</button>
          <a class="auth-muted" href="#">Forgot password?</a>
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock %}
