<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Events</title>
</head>
<body>
  <h1>Events</h1>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <ul>
    {% for event in events %}
    {% if event.next_slot %}
  <div>Next slot: {{ event.next_slot.start_datetime }} ({{ event.next_slot.seats_left }} seats left)</div>
{% else %}
  <div>No slots</div>
{% endif %}
      <li>
        <a href="{% url 'event_detail' event.id %}">
          {{ event.title }} — {{ event.start_datetime }}
        </a>
        <div>{{ event.location }}</div>
      </li>
    {% empty %}
      <li>No events yet.</li>
    {% endfor %}
  </ul>
</body>
</html>
